{% extends "layout.html" %}

{% block title %}
    Welcome
{% endblock %}

{% block main %}

    <div class="text-center">
        <h2>Readme Creator</h2>

        <p class="lead mb-3 mb-md-5 fs-4">Create outstanding readmes for your profile and projects easily</p>
        
        <div class=" row mx-auto my-3">
            <div class="col-md-6 d-flex justify-content-md-end justify-content-center pe-md-4 my-auto mb-3" style="height: 100%;">
                <a href="/profile" class="card_index">
                    <div class="card" style="width: 18rem;">
                        <div class="card-header fs-4">
                            <b>Profile</b>
                        </div>
                        
                        <img src="/static/images/profile_readme_example.png" class="card-img-top" alt="profile readme example">
                        
                        <div class="card-body my-1">
                            <p class="card-text mb-0">Create a awesome Readme for your profile</p>
                        </div>
                        <div class="card-footer text-success">
                            Available
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-md-6 d-flex justify-content-md-start justify-content-center ps-md-4 my-auto" style="height: 100%;">
                <a href="/project" class="card_index">
                    <div class="card" id="project_card" style="width: 18rem;">
                        <div class="card-header fs-4">
                            <b>🚧 Project 🚧</b>
                        </div>
                        <!-- <img src="" class="card-img-top" alt="Under Construction"> -->
                        <div class="card-body my-1">
                            <p class="card-text">Create a awesome Readme for your projects</p>
                        </div>
                        <div class="card-footer text-danger">
                            Available as soon as possible
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    

{% endblock %}