<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Link to CSS file -->
        <link href="/static/css/style.css" rel="stylesheet">

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

        <title>Readme Creator: {% block title %}{% endblock %}</title>
    </head>
    <body class="d-flex flex-column min-vh-100" style="background-color: #f3ede23d">

        <main class="container py-3 px-2 px-md-5">
            {% block main %}{% endblock %}
        </main>

        <footer class="mt-auto">
            <div class="bg-dark text-white d-flex justify-content-center footer">
                <p class="fs-6 my-auto">
                    Made with ❤️ by <a href="https://github.com/tiagobpires" class="link_footer"  target="_blank"> tiagobpires</a>
                </p>
            </div>
        </footer>


        <!-- Jquery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <!-- Bootstrap Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
        {% block script %}{% endblock %}
    </body>
    
</html>