.legend { 
    float: none; 
    padding: inherit; 
}

textarea:focus, input:focus, select:focus, button:focus {
    box-shadow: 0 0 0 0 !important;
} 

.socialbadges {
    height: 30px !important;
}

.divSocialBadges {
    width: 172px !important;
}

.skillsImage {
    height: 30px !important;
}

.features_settings_input {
    width: 120px !important;
}

.about_you_prefix {
    max-width: 230px !important;
}

/* Cool features Section */

#gh_status_img, #streak_stats_img {
    max-width: 430px !important;
}

#top_languages_img {
    max-width: 350px !important;
}

#profile_views_img {
    max-width: 150px !important;
}


/* Preview Markdown */
#preview-content > h1, h2, h3, h4, h5 {
    margin-top: 24px !important;
    margin-bottom: 16px !important;
    font-weight: 600 !important;
    line-height: 1.25 !important;
}

#preview-content > div > img {
    max-width: 100% !important;
    margin-bottom: 5px !important; 
}

#preivew-content > p {
    margin-top: 0 !important;
    margin-bottom: 16px !important;
}

/* Create readme button */
#create_readme {
    font-size: 18px !important;
}

/* index */

.card_index, .card_index:hover, .card_index:visited, .card_index:focus, .card_index:active{
    text-decoration: none; 
    color: inherit; 
} 

.card_index:hover {
    transform: scale(1.03);
}