<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Link to CSS file -->
        <link href="/static/css/style.css" rel="stylesheet">

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

        <!-- Ícone utilizando emoji -->
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>📜</text></svg>">


        <title>Readme Creator: {% block title %}{% endblock %}</title>
    </head>
    <body class="d-flex flex-column min-vh-100">
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark mb-1 mb-md-3">
            <div class="container-fluid position-relative">
                <a class="navbar-brand d-block d-sm-none d-xl-block navbar-title" href="#">📜 Readme Creator
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
    
                <div class="collapse navbar-collapse fs-5" id="navbarNav">
                    <ul class="navbar-nav mx-auto my-2 my-sm-0">
                        <li class="nav-item mx-4 mx-lg-5">
                            <a class="nav-link text-white" aria-current="page" href="/">Home</a>
                        </li>
                        <li class="nav-item mx-4 mx-lg-5">
                            <a class="nav-link text-white" href="/profile">Profile</a>
                        </li>
                        <li class="nav-item mx-4 mx-lg-5">
                            <a class="nav-link text-white" href="/project">Project</a>
                        </li>
                        <li class="nav-item mx-4 mx-lg-5">
                            <a class="nav-link text-white" href="/links&help">Links&Help</a>
                        </li>
                      </ul>
                </div>
            </div>
        </nav>

        <main>
            {% block main %}{% endblock %}
        </main>

        <footer class="mt-auto">
            <div class="bg-dark text-white d-flex justify-content-center footer">
                <div class="row">
                    <p class="fs-6 my-auto p-footer text-center col-12 col-md-6 mx-auto">
                        Made with &#10084; by <a href="https://github.com/tiagobpires" class="link_footer"  target="_blank"> tiagobpires</a>
                    </p>
                    <p class="fs-6 my-auto p-footer text-center col-12 col-md-6 mx-auto">
                        <a href="https://github.com/tiagobpires/readme-creator" class="link_footer star-repo"  target="_blank">&#11088; Star this repo</a>
                    </p>
                </div>
            </div>
        </footer>


        <!-- Jquery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <!-- Bootstrap Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
        {% block script %}{% endblock %}
    </body>
    
</html>