{% extends "layout.html" %}

{% block title %}
    Welcome
{% endblock %}

{% block main %}
<div class="container py-3 px-2 px-md-5">
    <h2>Links & Help</h2>

    <p class="lead">
        Here you can see some tips and links to documentations of resources for your profile readme
    </p>

    <!-- <div class="card bg-dark text-white" style="width: 18rem;">
        <img src="https://github-readme-stats.vercel.app/api?username=tiagobpires&theme=default&show_icons=true&count_private=true" class="card-img-top mt-1" alt="github stats card">
        <div class="card-body pt-0">
          <h5 class="card-title text-center">GitHub Stats Card</h5>
          <p class="card-text text-center">
              developed by: <a href="https://github.com/anuraghazra">anuraghazra</a>
          </p>
          <a href="https://github.com/anuraghazra/github-readme-stats#github-stats-card" class="btn btn-primary">Visit</a>
        </div>
    </div> -->

    <div>


        <p class="lead">
            A special thanks to all of the creators and contributors of the resources used in the links below ✨
        </p>

        <h5>Resources avaible at Readme Creator</h5>
        <ul>
            <li>
                <a href="https://github.com/anuraghazra/github-readme-stats" target="_blank">Github Status and Card Languages</a>
            </li>
            <li>
                <a href="https://github.com/DenverCoder1/github-readme-streak-stats" target="_blank">Github Readme Streak Stats</a>
            </li>
            <li>
                <a href="https://github.com/antonkomarev/github-profile-views-counter" target="_blank">GitHub Profile Views Counter
                </a>
            </li>
            
            <li>Badges:
                <ul>
                    <li>
                        <a href="https://shields.io/" target="_blank">shields.io - Badge Creator</a>
                    </li>
                    <li>
                        <a href="https://dev.to/envoy_/150-badges-for-github-pnk" target="_blank">Some cool badges ready-made</a>
                    </li>
                    <li>
                        <a href="https://javascript.plainenglish.io/how-to-make-custom-language-badges-for-your-profile-using-shields-io-d2aeaf016b6b" target="_blank">Tutorial to make custom badges using shields.io</a>
                    </li>
                </ul>
            </li>
        </ul>

        <h5>More Resources</h5>
        <ul>
            <li>
                <a href="https://abhisheknaiidu.github.io/awesome-github-profile-readme/" target="_blank">List of awesome github profiles</a>
            </li>
        </ul>
    </div>

    <div id="how_make_readme_profile">
        <h5>How to Create a Readme for Your Profile</h5>

        <p class="lead">
            <ol>
                <li class="mb-1">
                    Create a repository with the name of your user
                    <p class="mb-0">Example: my user is tiagobpires, so I created a repository called tiagobpires</p>
                </li>
                <li class="mb-1">
                    Create a file named "README.md"
                </li>
                <li class="mb-1">
                    Paste the markdown content created in the file and save the changes
                </li>
                <li class="mb-1">
                    All set up 🥳, just go to your github link profile and see it working
                </li>
            </ol>
        </p>
    </div>
</div>

{% endblock %}