{% extends "layout.html" %}

{% block title %}
    Profile
{% endblock %}

{% block main %}

    <h1 class="mb-3">Profile Readme</h1>
    <p class="lead fs-4">
        Fill in the informations you want to put on your readme
    </p>

    <form>
        <fieldset class="border p-2 mb-2 row gx-2">
            <legend class="legend w-auto mb-0">Greet</legend>
            <div class="col-md-3 mb-2">
                <input type="text" class="form-control" value="👋 Hello World, I'm">
            </div>

            <div class="col-md-9 mb-2">
                <input type="text" class="form-control" placeholder="Your name">
            </div>
            
            <div class="">
                <label for="subtitlegreet" class="form-label mt-1">Subtitle</label>
                <input type="text" class="form-control" id="subtitlegreet" placeholder="A computer science student from Brazil">
            </div>
        </fieldset>

        <fieldset class="border p-2 mb-2 row gx-2">
            <legend class="legend w-auto mb-0">More about you</legend>

            {% for key, value in more_about_you.items() %}
                <div class="col-md-3 mb-2">
                    <input type="text" class="form-control" value="{{ key }}">
                </div>

                <div class="col-md-9 mb-2">
                    <input type="text" class="form-control" placeholder="{{ value }}">
                </div>
            {% endfor %}
        </fieldset>


        <fieldset class="border p-2 mb-2 row gx-2">
            <legend class="legend w-auto mb-0">Your Skills</legend>
            
        </fieldset>

        <fieldset class="border p-2 mb-2 row gx-2">
            <legend class="legend w-auto mb-0">Your Social Medias</legend>
            
        </fieldset>


        <fieldset class="border p-2 mb-2 row gx-2">
            <legend class="legend w-auto mb-0">Cool features</legend>          

            <div class="row">        
                <label for="ghusername" class="col-8 fw-bold px-0 ms-auto">Please fill in your github username for correctly work of the features</label>        
                <input type="text" class="form-control col-4 me-auto" id="ghusername" placeholder="GitHub username" style="height: 33px; width: 20%;">
            </div>

            <div class="form-check my-1">
                <input class="form-check-input" type="checkbox" value="" id="ghstatus">
                <label class="form-check-label" for="ghstatus">
                  GitHub Status
                </label>
            </div>

            <div class="form-check my-1">
                <input class="form-check-input" type="checkbox" value="" id="ghlanguages">
                <label class="form-check-label" for="ghlanguages">
                  Most used languages
                </label>
            </div>

            <div class="form-check my-1">
                <input class="form-check-input" type="checkbox" value="" id="ghviews">
                <label class="form-check-label" for="ghviews">
                  Profile views
                </label>
            </div>

            <div class="form-check my-1">
                <input class="form-check-input" type="checkbox" value="" id="ghstreak">
                <label class="form-check-label" for="ghstreak">
                  Streak Stats
                </label>
            </div>

            <div class="form-check my-1">
                <input class="form-check-input" type="checkbox" value="" id="ghtrophy">
                <label class="form-check-label" for="ghtrophy">
                  Profile Trophy
                </label>
            </div>
        </fieldset>
       
    </form>
    
{% endblock %}