{% extends "layout.html" %}

{% block title %}
    Profile
{% endblock %}

{% block main %}

    <h1 class="mb-3">Profile Readme</h1>
    <p class="lead fs-4">
        Fill in the informations you want to put on your readme
    </p>

    <form>
        <fieldset class="border p-2 mb-2 row gx-2">
            <legend class="legend w-auto mb-0">Greet</legend>
            <div class="col-md-3 mb-2">
                <input type="text" class="form-control" value="👋 Hello World, I'm">
            </div>

            <div class="col-md-9 mb-2">
                <input type="text" class="form-control" placeholder="Your name">
            </div>
            
            <div class="">
                <label for="subtitlegreet" class="form-label mt-1">Subtitle</label>
                <input type="text" class="form-control" id="subtitlegreet" placeholder="A computer science student from Brazil">
            </div>
        </fieldset>

        <fieldset class="border p-2 mb-2 row gx-2">
            <legend class="legend w-auto mb-0">More about you</legend>

            <div class="col-md-3 mb-2">
                <input type="text" class="form-control" value="🔭 I’m currently working on ">
            </div>

            <div class="col-md-9 mb-2">
                <input type="text" class="form-control" placeholder="Be a good student :P">
            </div>

            <div class="col-md-3 mb-2">
                <input type="text" class="form-control" value="🎓 Graduated in ">
            </div>

            <div class="col-md-9 mb-2">
                <input type="text" class="form-control" placeholder="">
            </div>

            <div class="col-md-3 mb-2">
                <input type="text" class="form-control" value="📫 Reach me ">
            </div>

            <div class="col-md-9 mb-2">
                <input type="text" class="form-control" placeholder="tiagobarrospires@gmail.com">
            </div>

            <div class="col-md-3 mb-2">
                <input type="text" class="form-control" value="💡 I'm interested about ">
            </div>
            
            <div class="col-md-9 mb-2">
                <input type="text" class="form-control" placeholder="Computer Science, web development, games and series">
            </div>

            <div class="col-md-3 mb-2">
                <input type="text" class="form-control" value="👨‍💻 See my portfolio at  ">
            </div>

            <div class="col-md-9 mb-2">
                <input type="text" class="form-control" placeholder="www.portfolio.com">
            </div>


            <div class="col-md-3 mb-2">
                <input type="text" class="form-control" value="💬 Ask me about ">
            </div>

            <div class="col-md-9 mb-2">
                <input type="text" class="form-control" placeholder="Competitive programming">
            </div>

            <div class="col-md-3 mb-2">
                <input type="text" class="form-control" value="🌱 Learning about ">
            </div>

            <div class="col-md-9 mb-2">
                <input type="text" class="form-control" placeholder="Web development and Competitive programming">
            </div>

            <div class="col-md-3 mb-2">
                <input type="text" class="form-control" value="🤝 I like to collaborate in ">
            </div>

            <div class="col-md-9 mb-2">
                <input type="text" class="form-control" placeholder="Open Source projects">
            </div>

            <div class="col-md-3 mb-2">
                <input type="text" class="form-control" value="😄 Pronouns ">
            </div>

            <div class="col-md-9 mb-2">
                <input type="text" class="form-control" placeholder="He/His">
            </div>
            
            <div class="col-md-3 mb-2">
                <input type="text" class="form-control" value="⚡ Fun fact ">
            </div>

            <div class="col-md-9 mb-2">
                <input type="text" class="form-control" placeholder=":0">
            </div>
        </fieldset>


        <fieldset class="border p-2 mb-2 row gx-2">
            <legend class="legend w-auto mb-0">Your Skills</legend>
            
        </fieldset>

        <fieldset class="border p-2 mb-2 row gx-2">
            <legend class="legend w-auto mb-0">Your Social Medias</legend>
            
        </fieldset>


        <fieldset class="border p-2 mb-2 row gx-2">
            <legend class="legend w-auto mb-0">Cool features</legend>          

            <div class="row">        
                <label for="ghusername" class="col-6 fw-bold px-0 ms-auto pt-1" style="width: 45%;">Please fill in your github username for correctly work of the features</label>        
                <input type="text" class="form-control col-4 me-auto" id="ghusername" placeholder="Git Hub username" style="height: 33px; width: 20%;">
            </div>
        </fieldset>
       
    </form>

{% endblock %}