{% extends "layout.html" %}

{% block title %}
    Profile
{% endblock %}

{% block main %}
<div class="container py-3 px-2 px-md-5">
    <h1 class="mb-3 mt-2">Profile Readme</h1>

    <div id="profile_form_div">
        <p class="lead fs-4">
            Fill in the informations you want to put on your readme
        </p>

        <form id="profile_form" spellcheck="false">
            <!-- Prevent implicit submission of the form -->
            <button type="submit" disabled style="display: none" aria-hidden="true"></button> 

            <fieldset class="border p-2 mb-2 row gx-2">
                <legend class="legend w-auto mb-0 pb-0">Greet</legend>        

                <div class="row mx-0 px-0 mt-1">
                    <label class="col-md-2 col-form-label mb-1 ps-2 py-0 py-md-1">Your Name:</label>
                    <div class="col-md-10 mb-2">
                        <input type="text" class="form-control col-sm-9" name="name" placeholder="Tiago Barros Pires">
                    </div>
                </div>
                
                <div class="row mx-0 px-0 mt-1">
                    <label class="col-md-2 col-form-label mb-1 ps-2 py-0 py-md-1">Greet Message:</label>
                    <div class="col-md-10 mb-2">
                        <input type="text" class="form-control col-sm-9 my-1" name="greet" value="👋 Hello World">
                    </div>

                    <label class="col-md-2 col-form-label mb-1 ps-2 py-0 py-md-1">A bit about you:</label>
                    <div class="col-md-10 mb-2">
                        <textarea type="text" class="form-control col-sm-9 " name="subtitle" placeholder="I'm a brazilian computer science student at UECE"></textarea>
                    </div>
                </div>
            </fieldset>

            <fieldset class="border p-2 mb-2 row gx-2">
                <legend class="legend w-auto mb-0">More about you</legend>

                {% for about_you in more_about_you %}
                    <div class="col-md-3 mb-2">
                        <input name="about_you_prefix" type="text" class="form-control" value="{{ about_you['prefix'] }}">
                    </div>

                    <div class="col-md-9 mb-md-2 mb-3">
                        <input name="about_you_input" type="text" class="form-control" placeholder="{{ about_you['place_holder'] }}">
                    </div>
                {% endfor %}

                <div class="col-md-3 mb-2">
                    <input name="about_you_link_prefix" type="text" class="form-control" value="📫 Reach me">
                </div>

                <div class="col-md-9 mb-2 mb-md-2 mb-3">
                    <input name="about_you_link_input" type="text" class="form-control" placeholder="tiagobarrospires@gmail.com">
                </div>

                <div class="col-md-3 mb-2">
                    <input name="about_you_link_prefix" type="text" class="form-control" value="🖥️ See my portfolio at">
                </div>

                <div class="col-md-9 mb-2 mb-md-2 mb-3">
                    <input name="about_you_link_input" type="text" class="form-control" placeholder="www.portfolio.com">
                </div>
            </fieldset>


            <fieldset class="border p-2 mb-2 row gx-2">
                <legend class="legend w-auto mb-0">Your Social Medias</legend>
                
                {% for social in social_medias %}
                    <div class="d-flex col-md-6 justify-content-start my-1">
                        <div class="divSocialBadges d-flex justify-content-end">
                            <img src="{{ social['badge'] }}" class="socialbadges my-auto mx-2">
                        </div>
                        <input name="social_media_input" type="text" id="{{ social['name'] }}" class="form-control w-50" placeholder="{{ social['name'] }} username">
                        <input name="social_media_name" class="visually-hidden"  value="{{ social['name'] }}" readonly>
                    </div>
                {% endfor %}
            </fieldset>

            <!-- Cool Features -->
            <fieldset class="border p-2 mb-2 row gx-2">
                <legend class="legend w-auto mb-0">Cool features</legend>          

                <div class="row mb-md-2">        
                    <label for="ghusername" class="col-12 col-md-6 fw-bold px-0 ms-auto ps-2">Please fill in your github username for correctly work of the features</label>        
                    <input name="github_features_username" type="text" class="form-control col-12 col-md-6 mx-auto my-2 my-md-0" id="ghusername" placeholder="GitHub username" onkeyup="gh_status_preview();top_languages_preview();profile_views_preview();streak_stats_preview();" style="height: 33px; width: 40%;">
                </div>

                <div class="row align-items-center mx-2">
                    <!-- Github Status -->
                    <div class="form-check my-1 col-xl-6 align-self-start" id="gh_status_div" onchange="gh_status_preview()">
                        <input name="gh_status_check" class="form-check-input cool_features_check" type="checkbox" value="true" id="ghstatus">
                        <label class="form-check-label" for="ghstatus">
                        GitHub Status
                        </label> 

                        <button type="button" class="btn btn-lightettings pt-0 pb-1 px-1" onclick="displaySettings('gh_status_settings'); gh_status_preview()">⚙️</button>

                        <div id="gh_status_settings" class="bg-success p-3" style="min-height: 373px; display: none; --bs-bg-opacity: .04;">
                            <div class="form-check my-1">
                                <input class="form-check-input" type="checkbox" value="show" id="show_icons_stats" checked>
                                <label class="form-check-label" for="show_icons_stats">
                                Show icons
                                </label>
                            </div>

                            <div class="form-check my-1">
                                <input class="form-check-input" type="checkbox" value="cont" id="cont_private_contribs" checked>
                                <label class="form-check-label" for="cont_private_contribs">
                                Count commits to privates repositories
                                </label>
                            </div>

                            <div class="row mx-0 px-0 mt-1">
                                <label class="col-4 col-md-2 col-form-label ps-0">Themes:</label>
                                <select class="form-select col-8 col-md-10 mb-2 features_settings_input" id="gh_status_theme">
                                    <option value="default" selected>Default</option>
                                    {% for theme in themes %}
                                        <option value="{{ theme }}">{{ theme|title }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <p class="m-1">Hide individual stats:</p>
                            <div class="form-check form-check-inline" id="hide_individual_stats">
                                <input class="form-check-input gh_status_hide" type="checkbox" id="stars" value="stars">
                                <label class="form-check-label" for="stars">stars</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input gh_status_hide" type="checkbox" id="commits" value="commits">
                                <label class="form-check-label" for="commits">commits</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input gh_status_hide" type="checkbox" id="prs" value="prs">
                                <label class="form-check-label" for="prs">prs</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input gh_status_hide" type="checkbox" id="issues" value="issues">
                                <label class="form-check-label" for="issues">issues</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input gh_status_hide" type="checkbox" id="contribs" value="contribs">
                                <label class="form-check-label" for="contribs">contribs</label>
                            </div>

                            <div id="gh_status_preview" class="d-flex justify-content-center mt-2">
                                <input name="gh_status_url" class="visually-hidden" value="">
                                <img src="" alt="github status" id="gh_status_img" class="w-100">
                            </div>
                        </div>
                    </div>

                    <!-- Top Languages Card -->
                    <div class="form-check my-1 col-xl-6 align-self-start" id="gh_top_languages_div" onchange="top_languages_preview()">
                        <input name="gh_top_languages_check" class="form-check-input cool_features_check" type="checkbox" value="true" id="gh_top_languages">
                        <label class="form-check-label" for="gh_top_languages">
                            Top Languages Card
                        </label>

                        <button type="button" class="btn btn-lightettings pt-0 pb-1 px-1" onclick="displaySettings('gh_top_languages_settings');top_languages_preview();">⚙️</button>

                        <div id="gh_top_languages_settings" class="bg-success p-3" style="min-height: 373px; display: none; --bs-bg-opacity: .04;">
                            <div class="form-check my-1">
                                <input class="form-check-input" type="checkbox" value="compact" id="tl_layout" checked>
                                <label class="form-check-label" for="tl_layout">
                                    Compact Layout
                                </label>
                            </div>

                            <div class="row mx-0 px-0 mt-1">
                                <label class="col-4 col-md-2 col-form-label ps-0">Themes:</label>
                                <select class="form-select col-8 col-md-10 mb-2 features_settings_input" id="top_langs_theme">
                                    <option value="default" selected>Default</option>
                                    {% for theme in themes %}
                                        <option value="{{ theme }}">{{ theme|title }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="row mx-0 px-0 mt-1">
                                <label  class="col-12 col-md-6 col-form-label ps-0">Number of Languages showed:</label>
                                <select class="form-select col-12 col-md-6 mb-2 features_settings_input" id="top_langs_count">
                                    {% for n in range(1,11) %}
                                        {% if n == 5 %}
                                            <option value="5" selected>5</option>
                                        {% else %}
                                            <option value="{{ n }}">{{ n }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>

                            <div id="top_languages_preview" class="d-flex justify-content-center mt-2">
                                <input name="top_languages_url" class="visually-hidden" value="">
                                <img src="" alt="top languages" id="top_languages_img" class="w-100">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row align-items-center mx-2">
                    <!-- Profile Views -->
                    <div class="form-check my-1 col-xl-6 align-self-start" id="profile_views_div" onchange="profile_views_preview()">
                        <input name="gh_views_check" class="form-check-input cool_features_check" type="checkbox" value="true" id="ghviews">
                        <label class="form-check-label" for="ghviews">
                        Profile Views
                        </label>

                        <button type="button" class="btn btn-lightettings pt-0 pb-1 px-1" onclick="displaySettings('gh_views_settings');profile_views_preview();">⚙️</button>
                        <div id="gh_views_settings" class="bg-success p-3" style="min-height: 260px; display: none; --bs-bg-opacity: .04;">
                            <div class="row mx-0 px-0 mt-1">
                                <label class="col-4 col-md-2 col-form-label ps-0">Color:</label>
                                <select class="form-select col-8 col-md-10 mb-2 features_settings_input" id="gh_views_color">
                                    <option value="blue" selected>Blue</option>
                                    <option value="ff69b4">Pink</option>
                                    {% for color in colors %}
                                        <option value="{{ color }}">{{ color|title }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="row mx-0 px-0 mt-1">
                                <label class="col-4 col-md-2 col-form-label ps-0">Styles:</label>
                                <select class="form-select col-8 col-md-10 mb-2 features_settings_input" id="gh_views_style">
                                    <option value="flat" selected>Flat</option>
                                    <option value="flat-square">Flat-square</option>
                                    <option value="plastic">Plastic</option>
                                </select>
                            </div>

                            <div class="row mx-0 px-0 mt-1">
                                <label class="col-4 col-md-2 col-form-label ps-0" for="gh_views_label">Label</label>
                                <input type="text" class="form-control col-8 col-md-10 mb-2 features_settings_input" value="Profile Views" id="gh_views_label">
                            </div>
                            
                            <div id="profile_views_preview" class="d-flex justify-content-center mt-2">
                                <input name="profile_views_url" class="visually-hidden" value="">
                                <img src="" alt="profile views" id="profile_views_img" class="features_preview mt-3">
                            </div>
                        </div>
                    </div>

                    <!-- Streak Stats -->
                    <div class="form-check my-1 col-xl-6 align-self-start" id="streak_stats_div" onchange="streak_stats_preview()">
                        <input name="gh_streak_stats_check" class="form-check-input cool_features_check" type="checkbox" value="true" id="gh_streak">
                        <label class="form-check-label" for="gh_streak">
                        Streak Stats
                        </label>

                        <button type="button" class="btn btn-lightettings pt-0 pb-1 px-1" onclick="displaySettings('streak_stats_settings');streak_stats_preview();">⚙️</button>

                        <div id="streak_stats_settings" class="bg-success p-3" style="min-height: 260px; display: none; --bs-bg-opacity: .04;">
                            <div class="row mx-0 px-0 mt-1">
                                <label class="col-4 col-md-2 col-form-label ps-0">Themes:</label>
                                <select class="form-select col-8 col-md-10 mb-2 features_settings_input" id="streak_stats_theme">
                                    <option value="default" selected>Default</option>
                                    {% for theme in themes %}
                                        <option value="{{ theme }}">{{ theme|title }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div id="streak_stats_preview" class="d-flex justify-content-center mt-2">
                                <input name="streak_stats_url" class="visually-hidden" value="">
                                <img src="" alt="streak stats" id="streak_stats_img" class="w-100">
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>

            <!-- Skills -->
            <fieldset class="border p-2 mb-2 row gx-2 d-flex justify-content-center">
                <legend class="legend w-auto mb-0">Your Skills</legend>
                <div class="d-flex justify-content-center mb-3">
                    <input class="form-control me-2" type="text" id="searchbar_skills" onkeyup="search_skill()"  placeholder="&#128269;  Search Skill">
                </div>
                <div id="skillsdiv" class="row">
                    {% for skill in skills %}
                        <div class="form-check my-4 col-6 col-md-4 col-xl-3 skill_div">
                            <input name="skill_name" class="form-check-input ms-xl-2 skill_name" type="checkbox" value="{{ skill['name'] }}" id="{{ skill['name'] }}">
                            <input name="{{ skill['name'] }}" class="visually-hidden" value="{{ skill['link'] }}">
                            <label for="{{ skill['name'] }}">
                                <img src="{{ skill['link'] }}" class="skillsImage ms-xl-4">
                            </label>
                        </div>
                    {% endfor %}
                </div>
            </fieldset>

            <div class="d-flex justify-content-center mt-4 mb-2">
                <button type="submit" id="create_readme" class="btn btn-light border border-2">Create Readme</button>
            </div>
            
        </form>
    </div>

    <div id="preview" style="display: none;">
        <p class="lead fs-5 mb-1">
            Feel free to customize even more! See the 
            <a href="/links&help" class="link" target="_blank">Links & Help section</a> 
            for some tips and links to resource documentation used.
        </p>
        <p class="lead fs-5">
            If you don't know how to make a repository for your readme profile, see <a href="/links&help#how_make_readme_profile" class="link" target="_blank">this section</a>. Once you're done, click in "copy to clipboard" and paste into your repository
        </p>
        
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="back_to_form" type="button" role="tab" aria-selected="false"> ⇽ Back</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link active" id="markdown-tab" data-bs-toggle="tab" data-bs-target="#markdown-content" type="button" role="tab" aria-controls="markdown-content" aria-selected="true">Markdown</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="preview-tab" data-bs-toggle="tab" data-bs-target="#preview-content" type="button" role="tab" aria-controls="preview-content" aria-selected="false">Preview</button>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="markdown-content" role="tabpanel" aria-labelledby="markdown-tab">
                <textarea type="text" class="form-control px-4 py-2 mt-2" id="markdown-input" value="" spellcheck="false" style="height: 500px !important;"></textarea>
            </div>
            <div class="tab-pane fade py-3 px-5 mt-2 bg-dark text-white rounded-3" id="preview-content" role="tabpanel" aria-labelledby="preview-tab">
                
            </div>
            <div class="d-flex justify-content-center mt-3">
                <button type="button" id="copy_readme" class="btn btn-light border border-2">Copy to Clipboard</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block script %}
<script src="/static/js/profile.js"></script>
{% endblock %}